@model NetProjektNews.Models.Category

@{
    ViewData["Title"] = "Redigera";
}

<h1>Redigera kategori</h1>
<div>
    <a class="btn btn-primary mt-2 mb-3" asp-action="Index"><i class="bi bi-arrow-left"></i> Till alla kategorier</a>
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <form class="editCatForm" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CategoryName" class="control-label"></label>
                <input asp-for="CategoryName" class="form-control" />
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Spara" class="btn btn-success mt-3" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
