@{
    ViewData["Title"] = "Hem";
}

<div class="text-center">
    <h1 class="display-4">Titz N Trix <i class="bi bi-lightning-charge"></i></h1>
    <p>Titz N Trix är en företag som grundades 2015 av Clara, Anna, Jennifer och Ronja med syfte att inspirera tjejer i
        alla åldrar att våga ta plats i bikeparken, oavsett nivå eller kunskap.<br /><br />

        Från början var visionen simpel - att skapa en plats där tjejer kunde känna sig trygga och välkomnade samt
        stötta och inspirera varandra i sin passion för cykling.
        Med tiden har detta vuxit till något mycket mer än bara en aktivitet för tjejer i bikeparken.
        <br /><br />
        Idag är företaget ett dynamiskt community som samlar kvinnor från alla möjliga håll och kanter, som delar samma
        intresse och passion för cykling,
        men även andra aktiviteter som skidåkning, snowboard och outdoor-livsstilen.

        Det handlar inte om att åka fort, göra trix eller vara bäst - det handlar om att bygga ett inkluderande och
        stärkande nätverk där alla, oavsett bakgrund eller erfarenhet,
        kan känna sig delaktiga och ha kul tillsammans.

        <br /><br />
        För att bli en del av vårt community och ta del av alla förmåner och aktiviteter, kan du bli medlem i Titz N
        Trix.
        Som medlem får du inte bara tillgång till exklusiva evenemang och rabatter, utan även möjligheten att vara med
        och
        forma framtiden för vårt community.<br />
        Håll dig uppdaterad genom att läsa våra nyheter här på webbplatsen, där vi delar de senaste informationerna om
        evenemang, erbjudanden och allt som rör vårt växande nätverk.<br /><br />
        <strong>Vi ser fram emot att träffa dig!</strong>
    </p>
</div>
<div class="banner">
    <img src="~/images/banner.jpg" alt="Fyra person mer downhillcyklar">
</div>