body {
  background-color: #E1B7D0;
}

main {
  margin-top: 2em;
  min-height: 80vh;
  padding: 5px 15px;
  border-radius: 5px;
}

h1 {
  margin-top: 15px;
}
.text-center p {
  width: 100%;
  margin: 15px auto;
  font-size: 1.2em;
  background-color: rgba(255, 0, 242, 0.3); 
  color:#fff;
  padding: 10px 30px;
  border-radius: 8px;
  border: 1px solid #d26a87;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Bild på startsida */
.banner img {
  display: block;
  width: 100%;
  max-width: 1920px;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* Myhetsartiklar */
.news-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.news-article h2 {
  font-size: 2.2rem;
  margin-bottom: 10px;
  color: #333;
}

.news-article p {
  color: #555;
  text-align: center;
}

.contentText {
  width: 80%;
}

.news-article img {
  max-width: 80%;
  height: auto;
  display: block;
  margin: 10px auto;
  border-radius: 5px;
}

.news-article a {
  display: inline-block;
  margin-right: 10px;
  text-decoration: none;
}

/* Hantera-inlägg-knappar */
.button-group {
  display: flex;
  gap: 10px; 
}

/* Dropwown för att sortera nyheter per kategori */
.cateForm {
  display: flex;
  align-items: center;
  gap: 10px; 
  margin: 20px 0;
}

.cateForm label {
  font-size: 1.2rem;
  color: #333;
}

.cateForm select {
  padding: 8px 12px;
  border: 2px solid #E1688B;
  border-radius: 5px;
  font-size: 16px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
}

.cateForm select:hover {
  border-color: #d4436c; 
}

.cateForm select:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(255, 0, 242, 0.5); 
}

/* Skriva nyhet-sida */
.form-container {
  width: 100%;
  max-width: 900px; 
  padding: 30px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  border: 2px solid #5b1d6e; 
}

.form-container label {
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
}

.form-container input, .form-container textarea, .form-container select {
  border: 1px solid #78318d;
}


.form-container .btn {
  border: none;
}

/* Redigera kategori-sida */
.editCatForm label {
margin-bottom: 10px;
font-weight: bold;
}

/* Logga in-sida, registrera-sida */
.loginForm {
  max-width: 500px;
  margin: auto; 
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* Footer */
footer {
  position: relative !important;
  width: 100%;
  bottom: 0;
  margin-top: 2rem;
}

/* Media queries */
@media (max-width: 800px) {
  /* flytta text ovanför dropdown och bredda dropdown lista */
  .cateForm {
    flex-direction: column; 
    align-items: flex-start; 
  }

  .cateForm label {
    font-size: 1rem;
    margin-bottom: 5px; 
  }

  .cateForm select {
    width: 100%; 
  }
  /* centrera knapparna och lägg på rad */
  .btn-group {
    flex-direction: column;
    align-items: stretch; 
  }

  .btn-group a {
    width: 100%; 
    text-align: center; 
  }

  .form-container .btn {
   width: 100%;
  }
}