body {
  background-color: #E1B7D0;
}

main {
  margin-top: 2em;
  min-height: 80vh;
  padding: 5px 15px;
  border-radius: 5px;
}

h1 {
  margin-top: 10px;
  margin-left: 10px;
}

/* Myhetsartiklar */
.news-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.news-article h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #333;
}

.news-article p {
  font-size: 1rem;
  color: #555;
  text-align: center;
}

.contentText {
  width: 80%;
}

.news-article img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px auto;
  border-radius: 5px;
 
}

.news-article a {
  display: inline-block;
  margin-right: 10px;
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

/* Logga in-sida */
.loginForm {
  max-width: 500px;
  margin: auto; 
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Registrera konto-sida */


/* Footer */
footer {
  position: relative !important;
  width: 100%;
  bottom: 0;
  margin-top: 2rem;
}

/* Media queries */
